<div id="header-tab">
  <div>
     <a routerLink="/home" routerLinkActive="active">Home</a>
     <a routerLink="/about" routerLinkActive="active">About</a>
  </div>
</div>



<style>

  #header-tab {
    background-color: #48add4;
    height: 40px;
    line-height: 40px;
  }

  a {
    text-align: center;
    font-family: Tahoma;
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
    background-color: #c3c3c3;
    color: #565656;
    padding: 3px 8px 3px 8px;
    border-radius: 8px;
    margin-left: 10px;
  }

  a:hover {
    background-color: #596469;
    color: #fff;
    opacity: 0.5s;
    transition: 0.3s;
  }

  .active {
    background-color: #596469;
    color: #fff;
  }


</style>
