
  .project-box {
    border: 1px solid #b9b9b9;
    padding: 10px;
    margin: 10px;
    width: calc((100% / 4) - 20px);
    border-radius: 4px;
    background-color: #8a8a8a;
    color: #fff;
    flex-grow: 1;
  }
